@import './util/_colors.scss';
@import './util/_typography.scss';
@import './util/_buttons.scss';


#app{
    background: $theme-color;
}
.container{
    width: 70vw;
    margin: 0 auto;
}
.nav{
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid $color-light-grey;
    .logo{
        margin-left:20px;
    }
}