
@import './_colors.scss';

.btn-primary{
    background: $theme-color ;
    color: white ;
    &:hover{
        background: $color-secondary-color ;
        color: $theme-color;
        border-color: $color-secondary-color;
    }
    a{
        color: white ;
    }

    a:hover{
        color: white ;
        text-decoration: none ;
    }
}


.btn-error{
    background: $color-error ;
    color: white ;
}

.btn-primary{
    & .btn-bordered {
        background: transparent ;
        color: $theme-color ;
        border: 3px solid $theme-color ;
    }
}