$theme-color: #112A24;
$color-secondary-color: #B1C0C9;
$color-dark-grey: #B3B3B3;
$color-light-grey: #F2F2F2;

$color-black: #000319;
$color-error: #BA334D;
$color-warning: #F09B36;
$color-sucess: #007042;